/* You can add custom styles here. */

// @import "plugins/numbered";

// Grid classes
.grid {
  display: grid;
  row-gap: 0.5rem;

  p {
    text-align: center;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.grid3 {
  @extend .grid;
  column-gap: 5%;
  grid-template-columns: repeat(3, 1fr);
}

.grid5 {
  @extend .grid;
  column-gap: 2%;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: $mobile-breakpoint) {
  .grid5 {
    column-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-row {
  grid-column: 1 / -1;
}

// Custom colors
.book-green {
  color: var(--color-green);
}

.book-red {
  color: var(--color-red);
}

// Cusromizations
.book-layout-landing {
  h1 {
    text-align: center;
  }
}
