/* You can add custom styles here. */

// @import "plugins/numbered";

// Grid classes
.grid {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  align-items: center;

  p {
    text-align: center;
  }
}

.grid5 {
  @extend .grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: $container-max-width) {
  .grid5 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid3 {
  @extend .grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-row {
  grid-column: 1 / -1;
}

// Custom colors
.book-green {
  color: var(--color-green);
}

.book-red {
  color: var(--color-red);
}
